﻿@model MVCModels.Web.Models.Recipe

@{
    ViewData["Title"] = "Detail";
}

<h2>Recipe Detail</h2>

<div>

    <div id="recipe-grid">

        <img id="image-detail" src="/images/@Model.ImageName" />
        <div id="description">
            <h3>@Model.Name</h3>
            <p>@Model.RecipeType</p>
            <p><b>Cook Time</b> @Model.CookTimeInMinutes minutes</p>
            <p>@Model.Description</p>
        </div>

        <div id="ingredient-details">
            <h3>Ingredients</h3>
            <ul>
                @foreach (Ingredient ingredient in Model.Ingredients)
                {
                    <li>@ingredient.Quantity @ingredient.Name</li>
                }
            </ul>
        </div>

        <div id="preparation-detail">
            <h3>Preparation</h3>
            <ol>
                @foreach (String prepStep in Model.PreparationSteps)
                {
                    <li>@prepStep</li>
                }
            </ol>
        </div>

    </div>

    
        
</div>
