﻿@model IEnumerable<MVCModels.Web.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h2>All Recipes</h2>


<div id="grid" class="recipe-container">
    
   
@foreach (var item in Model) {
    <div class="tile">
        <span>
            <img id="recipe-image" src="/images/@item.ImageName" />
        </span>
        <a asp-action="Detail" asp-route-id=@item.Id>
            <span id="recipe-name">
                @Html.DisplayFor(modelItem => item.Name)
            </span>
        </a>

        <div id="star-ingredients">
            <img id="stars" src="/images/@(Math.Round(item.AverageRating, 0))-star.png" />
            <div id="ingredients"> @item.Ingredients.Count ingredients </div>
        </div>
    </div>
}
  
</div>
