﻿@model IEnumerable<MVCModels.Web.Models.Recipe>

@{
    ViewData["Title"] = "Table";
}

<h2>All Recipes</h2>

<table id="recipe-table">
    <tr>
        <th></th>
        @foreach (Recipe recipe in Model)
        {
            <td><img id="table-image" src="~/images/@recipe.ImageName" /></td>
        }
    </tr>
    <tr>
        <th>Name</th>
        @foreach (Recipe recipe in Model)
        {
            <td>@recipe.Name</td>
        }
    </tr>
    <tr>
        <th>Type</th>
        @foreach (Recipe recipe in Model)
        {
            <td>@recipe.RecipeType</td>
        }
    </tr>
    <tr>
        <th>Cook Time</th>
        @foreach (Recipe recipe in Model)
        {
            <td>@recipe.CookTimeInMinutes min</td>
        }
    </tr>
    <tr>
        <th>Ingredients</th>
        @foreach (Recipe recipe in Model)
        {
            <td>@recipe.Ingredients.Count ingredients</td>
        }
    </tr>
    <tr>
        <th>Rating</th>
        @foreach (Recipe recipe in Model)
        {
            <td><img id="stars" src="/images/@(Math.Round(recipe.AverageRating, 0))-star.png" /></td>
        }
    </tr>
</table>
