﻿body {
    background-color: #000000;
    width: 90%;
    font-family: sans-serif;
    margin: 0 auto;
}

ul {
    padding: 0px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

p, label, div.form-field {
    font-size: 14px;
}

header {
    margin: 25px;
}

    header h1 {
        font-size: 30px;
        color: #FFFFFF;
    }

    header p {
        color: #FFFFFF;
        font-size: 12px;
    }

    header img {
        height: 110px;
    }

nav {
    margin-top: 25px;
}

    nav h2, nav p {
        color: #FFF;
        margin-left: 25px;
    }

    nav p {
        font-size: 12px;
        font-style: italic;
    }



li {
    padding-bottom: 4px;
}

    li a {
        color: #0D118B;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
    }

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

    nav ul li {
        background-color: #FFF;
        border-radius: 8px;
        list-style: none;
        text-align: center;
        flex-grow: 1;
        padding-top: 5px;
        margin: 0 10px;
        max-width: 200px;
    }



li a:hover {
    text-decoration: underline;
}

#planets {
    display: flex;
}

.planets * {
    color: #FFFFFF;
}




.planets p {
    width: 80%;
    margin: 25px;
    text-align: left;
}

.planets img {
    width: 250px;
    height: 250px;
    border-color: #FFFFFF;
    border-width: 8px;
    border-style: solid;
}

.planets {
    text-align: center;
}

.planet {
    min-height: 700px;
    vertical-align: top;
    width: 80%;
    margin: 0 auto;
}

    .planet p {
        margin-left: auto;
        margin-right: auto;
    }


.value {
    color: green;
    font-weight: bold;
}

form div {
    padding: 10px 0px;
}

    form div label {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        padding-left: 25px;
        color: black;
    }

form .field-validation-error {
    color: red;
    font-size: 13px;
    font-weight: bold;
}

form button {
    text-align: center;
    margin-left: 229px;
}

input[type=text], input[type=datetime], textarea {
    width: 300px;
}

table tr {
    margin-bottom: 20px;
    margin-top: 20px;
}

table img {
    width: 200px;
    height: auto;
    padding: 5px 20px 5px 5px;
    margin-right: 20px;
}

table td {
    padding-right: 60px;
}

section.centeredPanel {
    clear: both;
    display: block;
    width: 90%;
    vertical-align: top;
    min-height: 450px;
    background-color: #FFF;
    border-radius: 7px;
    margin: 20px auto;
}

    section.centeredPanel h2 {
        color: #000000;
        text-align: center;
        padding-top: 15px;
    }

    .total {
        font-weight: 700;
        display: inline-block;
    }

    .total-amount {
        display: inline-block;
        margin-left: 20px;
    }

.stuff {
    float: right;
    margin-right: 20px;
    position: relative;
    transform: translateY(-60%);
}

    .SSGeek {
        font-weight: 700;
    }

    .stuff a {
        text-decoration: underline;
        padding-left: 100px;
    }

.success {
    background-color: #00FF00;
    display: block;
    margin: 0 100px;
    padding: 5px;
    text-align: center;
}

    section.centeredPanel p {
        color: #000;
        text-align: left;
    }

    .planet-image{
        height: 200px;
        border-radius: 10px;
        margin: 10px;
        float: left;
        display: inline;
    }

.planet-text {
    padding-top: 100px;
    float: left;
    font-weight: 700;
    flex-wrap: wrap;
    display: inline;
}
.post_subject {
    font-weight: 700;
    display: inline-block;
}

.name_date {
    font-size: smaller;
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

.forum_post:nth-child(even) {
    background: rgb(215, 215, 215);
}

.new_post {
   width: 200px;
   margin: 0 auto;
   padding-left: 4%;
}

.new_post a {
    text-decoration: underline;
}

.submit{
    margin-left: 200px;
}

#message{
    height: 200px;
}

.item-image{
    display: inline-block;
}
.item-image img {
    width: 200px;
    height: auto;
    padding: 5px 20px 5px 5px;
    margin-right: 20px;
}

.item-details{
    display: inline-block;
    font-weight: 700;
    font-size: larger;
}

.item-price {
    color: #6495ED;
    font-weight: 700;
}

.details-image {
    width: 350px;
    height: auto;
    padding: 5px 20px 5px 5px;
    margin-right: 20px;
    display: inline-block;
    grid-area: image;
}

.details-name{
    font-weight: 700;
}

.details-details{
    display: inline-block;
    grid-area: details;
}

.form{
    grid-area: form;
}

.grid-area{
    display: grid;
    grid-template-areas:
        'image details details .'
        'image form form .';
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


