﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#grid {
    display: flex;
    flex-direction: row;
    /*display: grid;
    grid-gap: 15px;
    grid-auto-rows: minmax(150px, 1fr);
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr 1fr;*/
}

.tile {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 33%;
    background-color: #EFF7E0;  
}

.recipe-container {
    flex: 1;
}

#stars{
    height: auto;
    width: 30%;
}

#recipe-image{
    width: 100%;
}

#star-ingredients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 5px 0px 5px;

}

#recipe-name {
    font-size: medium;
    font-weight: bold;
}

#recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas: 'picture titleSection titleSection' 'ingredients ingredients ingredients' 'preparation preparation preparation'
}

#image-detail {
    grid-area: picture;
}
#description {
    grid-area: titleSection;
}
#ingredient-details {
    grid-area: ingredients;
}
#preparation-detail {
    grid-area: preparation;
}

#table-image {
    width: 50%;
}
#recipe-table tr:nth-child(even) {
    background-color: #EFF7E0;
}

#recipe-table th {
    background-color: #FFFFFF;
    padding-right: 20px;
}





    /*.tile a.product-image {
        flex: 1;
    }

        .tile a.product-image img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            object-fit: cover;
        }

    .tile .details {
        padding: 0 10px;
    }

    .tile.sold-out * {
        opacity: 0.4;
    }

    .tile .banner {
        align-self: flex-end;
        background-color: rgba(68, 68, 68, 0.4);
        color: #fff;
        opacity: 1;
        padding: 2px 5px;
        border-radius: 2px;
        text-transform: uppercase;
        position: absolute;
    }

        .tile .banner.top-seller {
            background-color: #8cc63f;
        }

    .tile .alert-remaining {
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .tile p.name {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .tile .details > * {
        margin: 5px 0px 2px 0px;
    }*/

