﻿
@model AlienWeightModel
@{
    ViewData["Title"] = "Alien Weight Result";
}


<section id="calculatorResult" class="centeredPanel">
    <img class="planet-image" src="/images/@(Model.Planet).jpg" />
    <h2 class="planet-text">If you are @Model.EarthWeight lbs on planet Earth, you would weigh @Model.WeightConversion() lbs on @Model.Planet.</h2>

</section>

