﻿@model AlienWeightModel
@{
    ViewData["Title"] = "Alien Weight";
}

<section class="centeredPanel">
    <h1>Alien Weight Calculator</h1>

    <form asp-action="alienweightresult" method="get">
Choose a planet
        <select name="planet">
            <option value="Mercury">Mercury</option>
            <option value="Venus">Venus</option>
            <option value="Mars">Mars</option>
            <option value="Jupiter">Jupiter</option>
            <option value="Saturn">Saturn</option>
            <option value="Uranus">Uranus</option>
            <option value="Neptune">Neptune</option>
        </select>
        <br />
        <br />
        Enter your Earth weight
        <input type="text" name="EarthWeight" asp-value="@Model.EarthWeight"/>
        <br />
        <br />
        <input type="submit" value="Calculate Weight" />
</form>

</section>