﻿@model AlienTravelModel
@{
    ViewData["Title"] = "AlienTravelResult";
}

<section id="calculatorResult" class="centeredPanel">
    <img class="planet-image" src="/images/@(Model.Planet).jpg" />
    <h2 class="planet-text">Traveling by @Model.Transportation you will reach @Model.Planet in @Model.TravelTimeInYears(Model.Planet, Model.Transportation).ToString("F") years.  You will be @Model.AgeAfterTravel().ToString("F") years old.</h2>

</section>
