﻿
@{
    ViewData["Title"] = "AlienAge";
}


<section class="centeredPanel">
    <h1>Alien Age Calculator</h1>

    <form asp-action="alienageresult" method="get">
        Choose a planet
        <select name="planet">
            <option value="Mercury">Mercury</option>
            <option value="Venus">Venus</option>
            <option value="Mars">Mars</option>
            <option value="Jupiter">Jupiter</option>
            <option value="Saturn">Saturn</option>
            <option value="Uranus">Uranus</option>
            <option value="Neptune">Neptune</option>
        </select>
        <br />
        <br />
        Enter your Earth age
        <input type="text" name="EarthAge" asp-value="@Model.EarthAge" />
        <br />
        <br />
        <input type="submit" value="Calculate Age" />
    </form>

</section>