﻿@model AlienTravelModel
@{
    ViewData["Title"] = "AlienTravel";
}
<section class="centeredPanel">
    <h1>Alien Travel Calculator</h1>

    <form asp-action="alientravelresult" method="get">
        Choose a planet
        <select name="Planet" value="@Model.Planet">
            <option value="Mercury">Mercury</option>
            <option value="Venus">Venus</option>
            <option value="Mars">Mars</option>
            <option value="Jupiter">Jupiter</option>
            <option value="Saturn">Saturn</option>
            <option value="Uranus">Uranus</option>
            <option value="Neptune">Neptune</option>
        </select>
        <br />
        <br />
        <select name="Transportation" value="@Model.Transportation">
            <option value="Walking">Walking</option>
            <option value="Car">Car</option>
            <option value="Bullet Train">Bullet Train</option>
            <option value="Boeing 747">Boeing 747</option>
            <option value="Concord">Concord</option>

        </select>
        <br />
        <br />
        Enter your Earth age
        <input type="text" name="EarthAge" value="@Model.EarthAge" />
        <br />
        <br />
        <input type="submit" value="Calculate Travel Time" />
    </form>

</section>