﻿@model AlienAgeModel
@{
    ViewData["Title"] = "AlienAgeResult";
}

<section id="calculatorResult" class="centeredPanel">
    <img class="planet-image" src="/images/@(Model.Planet).jpg" />
    <h2 class="planet-text">If you are @Model.EarthAge years old on planet Earth, then you are @Model.AgeConversion() @Model.Planet years old.</h2>

</section>

