﻿@model IEnumerable<SSGeek.Web.Models.ForumPost>

@{
    ViewData["Title"] = "Index";
    string successMessage = "";
    if (ViewBag.SuccessMessage != null)
    {
        successMessage = ViewBag.SuccessMessage;
    }
}


<section class="centeredPanel">
    <h2 class="SSGeek">Solar System Geek Forum</h2>
    @if (successMessage.Length > 0)
    {
        <div class="success">@successMessage</div>
    }
    <br />
    <div class="new_post">
        <a asp-action="NewPost">Post a message</a>
    </div>
    <br />

    @foreach (ForumPost post in Model)
    {
        <div class="forum_post">
            <h2 class="post_subject">@post.Subject</h2>
            <p class="name_date">by @post.UserName on @post.PostDate</p>
            <br />
            <p>@post.Message</p>
        </div>
    }
</section>
