﻿@model ForumPost
@{
    ViewData["Title"] = "NewPost";
}
<section class="centeredPanel">
    <h2 class="SSGeek">New Geek Post</h2>

    <form asp-action="NewPost" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label for="subject">Subject</label>
            <input type="text" asp-for="Subject" />
            <span asp-validation-for="Subject"></span>
        </div>
        <div>
            <label for="Message">Message</label>
            <textarea input type="text" id="message" asp-for="Message"></textarea>
            <span asp-validation-for="Message"></span>
        </div>
        <div>
            <input type="hidden" asp-for="PostDate" value="@DateTime.Now" />
        </div>
        <div>
            <input type="submit" class="submit" value="Submit!" />
        </div>
    </form>
</section>

