﻿@model Product
@{
    ViewData["Title"] = "Detail";
}
<section class="centeredPanel">
    <h2 class="SSGeek">Solar System Geek Gift Shop</h2>
    <div class="grid-area">
        <img class="details-image" src="~/images/@Model.ImageName" />

        <div class="details-details">
            <h1 class="details-name">@Model.Name</h1>
            <h3 class="item-price">$@Model.Price</h3>
            <p>@Model.Description</p>
        </div>

        <form asp-action="AddToCart" asp-controller="Store" method="post" class="form">
            Quantity to buy
            <input type="hidden" asp-for="@Model.Id" />
            <input type="text" name="Quantity" />
            <input type="submit" class="btn btn-info" value="Add to Cart" />
        </form>
    </div>
</section>
