﻿@model IEnumerable<SSGeek.Web.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<section class="centeredPanel">
    <h2 class="SSGeek">Solar System Geek Gift Shop</h2>



    @foreach (var item in Model)
    {
        <div class="store-item">
            <div class="item-image">
                <a asp-action="Detail" asp-route-id="@item.Id">
                    <img src="~/images/@item.ImageName" />
                </a>
            </div>
            <div class="item-details">
                <div class="item-name">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="item-price">
                    $@Html.DisplayFor(modelItem => item.Price)
                </div>
            </div>
        </div>
    }

</section>
