﻿@model ShoppingCart
@{
    ViewData["Title"] = "ViewCart";
}
<section class="centeredPanel">
    <h2 class="SSGeek">Solar System Geek Gift Shop</h2>
    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Qty.</th>
            <th>Total</th>
        </tr>
        @foreach (ShoppingCartItem item in Model.Items)
        {
            <tr>
                <td><img src="~/images/@item.Product.ImageName" /></td>
                <td><p class="cart-item-name">@item.Product.Name</p></td>
                <td>$@item.Product.Price</td>
                <td>@item.Quantity</td>
                <td>@((item.Quantity * item.Product.Price).ToString("C"))</td>
            </tr>
        }
    </table>
    <br />
    <div class="stuff">
        <div class="total">Grand Total</div>
        <div class="total-amount"> $@Model.GrandTotal.ToString("F")</div>
        <br />
        <a asp-action="CheckOut">Check out</a>
    </div>
    <br />
</section>